fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
alembic
pydantic
redis
sentence-transformers
groq
passlib
bcrypt
pyjwt
python-dotenv
bs4
pgvector
faster-whisper
num2words
soundfile
pedalboard
numpy
torch
cryptography
python-multipart
kokoro>=0.9.2
langdetect
misaki[en]
